<div class="mt-5 text-center">

<div class="" >
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> Steemit :  <a target="_blank" href="https://steemit.com/@jfdesousa7/posts">jfdesousa7</a></li>
    <li class="list-group-item">Website: <a target="_blank" href="https://tupaginaonline.net">tupaginaonline.net</a></li>
    <li class="list-group-item">Whatsapp : <a title="Contratar servicios" href="https://api.whatsapp.com/send?phone=+584128256644&amp;text=Hola%2C%20deseo%20contratar%20tus%20servicios" target="_blank" class="whatsapp-btn keychainify-checked">+58 412 825 6644</a></li>
  </ul>
</div>
</div>