<h1 class="p-2"><b>Hive</b> Bot de votos automáticos para post y comentarios <small class="fs-6"> (de una Lista de usuarios seleccionados)</small> en <code>tiempo real</code>  por
<a target="_blank" href="https://hive.blog/@jfdesousa7">Jfdesousa7</a>
</h1>
<a class="cancel btn btn-outline-secondary">Pausa</a> <a class="resume btn btn-outline-primary">Continuar</a>

<div class="text-center">Votante: <code>jfdesousa7</code></div>

<div class="mt-2 text-center loader fs-6"><span style="font-size:10px" class="text-danger">Live </span><div class=" spinner-grow text-danger fs-6" role="status">
</div></div>

<div id="container" class="mt-2">
</div>