<nav class="navbar navbar-expand-lg navbar-dark cbg-danger">
  <div class="container-fluid container">
    <a class="navbar-brand fw-bold" href="/">Inicio</a>
   
    </button>
    <div class="" id="">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link fw-bold " data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor: pointer;">Contacto</a>
        </li>

      </ul>
    </div>
  </div>
</nav>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contacto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <div class="">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> Hive : <a target="_blank"
                  href="https://hive.blog/@jfdesousa7/posts">jfdesousa7</a></li>
              <li class="list-group-item">Website: <a target="_blank"
                  href="https://tupaginaonline.net">tupaginaonline.net</a></li>
              <li class="list-group-item">Whatsapp : <a title="Contratar servicios"
                  href="https://api.whatsapp.com/send?phone=+584128256644&amp;text=Hola%2C%20deseo%20contratar%20tus%20servicios"
                  target="_blank" class="whatsapp-btn keychainify-checked">+58 412 825 6644</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>

      </div>
    </div>
  </div>
</div>