@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*, *::before,::after {
    margin: 0;
    box-sizing: content-box;

}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
}

#container {
    height: 70vh;
    overflow-y: scroll;
    background-color: #fff;
}


.spinner-grow {
    width: 1rem;
    height: 1rem;
}